# @file      openocd.cfg
# @brief     nucleo-stm32f746g_disco board openocd configuration file
#
# Copyright (C) Witekio
#
# This file is part of Zephyr Wind Turbine demonstration.
#
# This demonstration is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This demonstration is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with This demonstration. If not, see <http://www.gnu.org/licenses/>.

source [find interface/stlink.cfg]

transport select swd

source [find target/stm32f7x.cfg]

# Reset config with srst_only
# Use "reset_config srst_nogate connect_assert_srst" in case you need to connect under reset,
# for example if the debug interface has been disabled
reset_config srst_only
